@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$family-sans-serif: 'Open Sans', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: true;
$link: #ff9999;
$accent: #ff9999;

$grad-start: #121212;
$grad-midone: #3d3240;
$grad-midtwo: #775269;
$grad-midthree: #bb7387;
$grad-final: #ff9999;

$button-text: black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$table-row-hover-background-color: #ffeaea;

@import 'bulma';
@import 'bulma-divider';
@import 'cool-checkboxes-for-bulma.io';
@import '~@/styles/base.scss';
@import 'vue2-animate/src/sass/vue2-animate.scss';
@import 'vue-select/src/scss/vue-select.scss';
@import 'bulma-extensions/bulma-switch/src/sass/index.sass';
