<%- include("header") -%>
  <body class="text-center">
    <form action="/register/rootuser" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Add Root User to Database</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" name="name" class="form-control" placeholder="Your Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <label for="inputSecret" class="sr-only">Your Secret Pass</label>
    <input type="password" id="inputSecret" name="secret" class="form-control" placeholder="Your Secret Pass" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add to Database</button>
    <p class="mt-5 mb-3 text-muted">&copy; G-Index Backend</p>
  </form>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<%- include("footer") -%>
