@font-face {
  font-family: 'iconfont';  /* project id 1760192 */
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot');
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.svg#iconfont') format('svg');
}
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Faster+One&family=Fredericka+the+Great&family=Major+Mono+Display&family=Monoton&family=Pacifico&family=Permanent+Marker&display=swap');

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.pendingusers, input {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9595;
  border-radius: 10px;
}

html {
  background-color: black;
}

.navbar {
  background-color: black;
  border-bottom: 3px solid #ff9595;
  .container {
    max-width: 90%;
  }
  @media only screen and (max-width: 700px){
    .navbar-item {
      &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }
      &.is-active {
        .navbar-dropdown {
          display: block;
        }
       }
     }
    }
  }
}

.navbar-dropdown{
  background-color: black;
}

.navbar-link,.navbar-item {
  color: #ff9595;
}

.navbar-active {
  color: #bbf1c8;
}

.nav-heading {
  font-family: 'Berkshire Swash', cursive;
}

.navbar-item:hover {
  color: #ff9595;
}

.search-input {
  background-color: #ff9595;
  border-color: #272727;
}

body {
  overflow: hidden;
}

.section {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.container {
  max-width: 1080px;
}

.iconfont {
  width: 2em;
  height: 2em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}

.breadcrumb:not(:last-child) {
  margin: 0.5rem 0;
  padding: 0 0.75em;
}

.breadcrumb ul {
  flex-wrap: inherit;
}

.breadcrumb li:not(:first-child):not(:last-child) {
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  width: 100%;
  table-layout: fixed;
  background-color: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  th,
  td {
    border: 0 !important;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      background-color: white;
      color: black;
    }

    &.icon {
      cursor: pointer;
    }
  }

  .td-item {
    color: white;
  }

  td span {
    vertical-align: middle;
  }

  td .g2-file-desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px){
  .table {
    border-top: none;
  }
}

.g2-content {
  margin-top: 1rem;
}

.footer {
  color: grey;
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  a {
    color: #ff9595;
  }
  a:hover {
    color: white;
  }
  .footpad {
    margin: 1px;
    padding: 1px;
  }
  .footimage{
    .gloryimage {
      margin: 2px;
      padding: 5px;
      border-radius: 1rem;
      border: 2px solid #ff9595;
    }
  }
  .footer-license-link:hover {
    color: #bbf1c8;
  }
  .footer-copyright {
    color: white;
    font-weight: bold;
  }
  .footer-disclaimer {
    margin-bottom: 5px;
  }
  .disclaimer-head {
    font-weight: bold;
    font-size: 13px;
    color: #ff9595;
  }
}

.no-content {
  background: url(https://i.ibb.co/zJD1PhY/Porumayagairukkavum.png) no-repeat 50% 50%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  margin-top: 20px;
}

.video-content {
  width: 100%;
  border: 1px solid #ff9595;
  background-color: black;
  position: relative;
  padding-bottom: 2%;

  video {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
  }
}


.video-content:hover {
  border: 1px solid black;
}

.audio-card {
  text-align: center;
  width: 100%;
  padding: 5%;
  background-color: black;
  border: 1px solid #ff9595;
}

.audio-card:hover {
  border: 1px solid black;
}

//search bar
.search-input,
.search-input::-webkit-input-placeholder {
  color: black;
}

.golist {
  min-height: 240px;
  position: relative;

  .el-loading-mask {
    z-index: initial;
    background-color: transparent;
  }

  .pageloader:not(.is-bottom-to-top) {
    -webkit-transform: initial;
    transform: initial;
  }

  .pageloader {
    position: absolute;
    padding-top: 0;
    background-color: hsla(0%, 0%, 15%, 0.2);
    will-change: initial;
    z-index: 1;

    .title {
      color: hsl(0, 0%, 4%);
    }
  }

  .pageloader::after {
    border: 0 solid black;
  }
}

.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
}

.sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
}

.descending .sort-caret.descending {
  border-top-color: #409eff;
}

.ascending .sort-caret.ascending {
  border-bottom-color: #409eff;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
}


// bulma-divider
.is-divider,
.is-divider-vertical {
  border-top: .2rem solid #ff9595;
}

.is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
  color: black;
  background-color: #ff9595;
}

.card-header-title {
  color: #ff9595;
  background-color: black;
}

.card-content {
  background-color: black;
  color: #ff9595;
  font-weight: bold;
}

.label {
  color: #ff9595;
}

.download-link {
  border: 1px solid #ff9595;
  background-color: black;
  color: #ff9595;
}

.mkdown-text {
  color: white;
  margin:1rem 0;
  background-color: black;
  text-align:center;
  h1,h2,h3,h4,h5,h6,p,strong,em {
    color: white;
  }
  a {
    color: #ff9595;
  }
  a:hover {
    color: white;
    background-color: transparent;
  }
}

.sr-only {
  background-color: transparent;
}

.navbar-item-image {
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
  font-size: 30px;
  font-weight:700;
  width: 40px;
}

#copy-url {
  padding: 10px;
  background-color: black;
  border: 1px solid #ff9595;
  margin: 10px;
  color: #FF9595;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

#copy-url:hover {
  border: 1px solid black;
  color: #ff9595;
}

.top-buttons {
  display: inline-block;
}

.card {
  border: 1px solid #ff9595;
  border-radius: 0.2rem;
}

.card-header {
  border: 1px solid #ff9595;
}

.download-button {
  padding: 10px;
  background-color: black;
  border: 1px solid #ff9595;
  margin: 10px;
  color: #FF9595;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

.download-button:hover {
  border: 1px solid black;
  color: #ff9595;
}

.videocolumn,.audiocolumn {
  padding: 5px;
}

.videocolumn:hover,.audiocolumn:hover {
  border: 1px solid #ff9595;
}

.home {
  color: white;
  h1,h2,h3,h4,h5,h6 {
    color: white;
  }
  p {
    color: white;
    font-family: monospace;
  }
  padding: 10px;
  margin: 20px;
  border: 2px solid #ff9595;
  border-radius: 0.4rem;
}

.login-page {
  text-align: center;
  border: 2px solid #ff9595;
  border-radius: 0.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 1px;
  font-family: monospace;
  .login-top-buttons {
    margin: 5px;
    background-color: transparent;
    color: #ff9595;
    border: 1px solid #ff9595;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #ff9595;
  }
  p {
    text-overflow: clip;
  }
  label {
    color: white;
  }
  h4 {
    color: white;
  }
  input {
    margin: 5px;
    background-color: black;
    border: 1px solid #ff9595;
    color: #ff9595;
    font-family: monospace;
    font-size: 17px;
  }
  input:hover {
    background-color: black;
  }
  .login-button {
    background-color: #b6eb7a;
    color: #17706e;
    border: none;
    padding: 5px 10px 5px 10px;
  }
  .login-register {
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px 5px 10px;
  }
  .login-top-buttons {
    margin: 5px;
    background-color: transparent;
    color: #ff9595;
    border: 1px solid #ff9595;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #ff9595;
  }
  .login-register:hover {
    color: #ff9595;
  }
}

.registration-page {
  align-content: center;
  text-align: center;
  border: 2px solid #ff9595;
  border-radius: 0.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 1px;
  font-family: monospace;
  .checkbox {
    text-align: center;
  }
  label {
    color: white;
  }
  h4 {
    color: white;
  }
  input,textarea {
    margin: 5px;
    background-color: black;
    border: 1px solid #ff9595;
    color: #ff9595;
    font-family: monospace;
    font-size: 18px;
  }
  input:hover,textarea:hover {
    background-color: black;
  }
  .guidelines {
    color: #ff9595;
  }
  .guidelines:hover {
    color: red;
  }
  .registration-button {
    background-color: #fb7813;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
  }
  .registration-login {
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px 5px 10px;
  }
  .registration-top-buttons {
    margin: 5px;
    background-color: #ffe8df;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #ff9595;
  }
  .registration-login:hover {
    color: #ff9595;
  }
}

.content-top {
  margin: 1px;
  font-family: monospace;
  text-align:center;
  .top-buttons {
    margin: 5px;
    background-color: #ffe8df;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 0.5rem;
  }
  .top-buttons:hover {
    background-color: black;
    color:white;
    border: 1px solid #ff9595;
  }
}

.adminarea {
  align-items: center;
  text-align: center;
  border: 2px solid #ff9595;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  .userdetails {
    h3 {
      text-decoration: underline;
    }
    .settings-button {
      list-style: none;
      display: inline-block;
      background-color: #ff9595;
      padding: 10px;
      margin: 10px;
      border-radius: 0.5rem;
      a {
        color: white;
      }
      a:hover {
        color: black;
      }
    }
    h3,p {
      color: white;
      .details {
        color: #ff9595
      }
    }
  }
  .title {
    font-weight: bold;
    color: #ff9595;
    padding: 5px;
    margin: 3px;
    vertical-align: center;
  }
  hr {
    border: 1px solid #ff9595;
  }
  .scopes {
    h3 {
      color: white;
      text-decoration: underline;
    }
    color: white;
    .scope-list {
      list-style: none;
      display: inline-block;
      background-color: #ff9595;
      padding: 10px;
      margin: 10px;
      border-radius: 0.5rem;
      a {
        color: white;
      }
      a:hover {
        color: white;
      }
    }
    .scope-list:hover {
      background-color: black;
      color: white;
    }
  }
}

.navigation-buttons {
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  .but-pad {
    margin: 3px;
  }
}

.pendingusers {
  .getuserbutton {
    color: #ff9595;
    background-color: black;
    padding: 5px;
    border-radius: 0.5rem;
    border: 2px solid #ff9595;
  }
  .getuserbutton:hover {
    background-color: #ff9595;
    color: white;
  }
  p {
    padding: 2px;
    margin: 2px;
  }
  .pendinghead {
    color: #ff9595;
    margin: 5px;
  }
  .column-head {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin: 10px;
    padding: 4px;
  }
  .col-data {
    color: #ff9595;
    margin: 10px;
    padding: 4px;
  }
  @media only screen and (max-width: 600px){
    .col-data {
      display: flex;
      text-align: center;
    }
  }
}
@charset "UTF-8";
.b-checkbox {
  position: relative;
}

.b-checkbox label {
  padding-left: 5px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}

.b-checkbox label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 1px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  transition: background .1s ease-in-out;
}

.b-checkbox label::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  font-size: 12px;
  color: #363636;
}

.b-checkbox input[type="checkbox"],
.b-checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.b-checkbox input[type="checkbox"]:focus + label::before,
.b-checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.b-checkbox input[type="checkbox"]:checked + label::after,
.b-checkbox input[type="radio"]:checked + label::after {
  content: "✔";
}

.b-checkbox input[type="checkbox"]:disabled,
.b-checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.b-checkbox input[type="checkbox"]:disabled + label,
.b-checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.b-checkbox input[type="checkbox"]:disabled + label::before,
.b-checkbox input[type="radio"]:disabled + label::before {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.b-checkbox.is-circular label::before {
  border-radius: 50%;
}

.b-checkbox.is-inline {
  display: inline-block;
  font-weight: normal;
}

.b-checkbox.is-inline + .is-inline {
  margin-left: 10px;
}

.is-primary input[type="checkbox"]:checked + label::before {
  background-color: #00d1b2;
  border-color: #00d1b2;
}

.is-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-danger input[type="checkbox"]:checked + label::before {
  background-color: #ff3860;
  border-color: #ff3860;
}

.is-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-info input[type="checkbox"]:checked + label::before {
  background-color: #3273dc;
  border-color: #3273dc;
}

.is-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-warning input[type="checkbox"]:checked + label::before {
  background-color: #ffdd57;
  border-color: #ffdd57;
}

.is-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-success input[type="checkbox"]:checked + label::before {
  background-color: #23d160;
  border-color: #23d160;
}

.is-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-dark input[type="checkbox"]:checked + label::before {
  background-color: #363636;
  border-color: #363636;
}

.is-dark input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.is-black input[type="checkbox"]:checked + label::before {
  background-color: #0a0a0a;
  border-color: #0a0a0a;
}

.is-black input[type="checkbox"]:checked + label::after {
  color: #fff;
}

input[type="checkbox"].styled:checked + label:after {
  font-family: "FontAwesome";
  content: "";
}

input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}
