@font-face {
  font-family: "iconfont"; /* project id 1760192 */
  src: url("//at.alicdn.com/t/font_1760192_tl9awsq3di.eot");
  src: url("//at.alicdn.com/t/font_1760192_tl9awsq3di.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1760192_tl9awsq3di.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1760192_tl9awsq3di.woff") format("woff"),
    url("//at.alicdn.com/t/font_1760192_tl9awsq3di.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1760192_tl9awsq3di.svg#iconfont") format("svg");
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$vs-dropdown-z-index: 1000;
$vs-dropdown-min-width: 150px;
$vs-dropdown-max-height: 300px;

body {
  font-family: 'Varela Round', sans-serif;
}

.vs__fade-enter-active,
.vs__fade-leave-active {
    transition: none;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.pendingusers, input, textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50914;
  border-radius: 10px;
}

html {
  background-color: black;
  font-size: 14px;
}

.navbar {
  .container {
    max-width: 95%;
  }
  .navbar-item:hover {

  }
  .navbar-brand > .title {
    color: #E50914;
  }
  a {
    color: white;
  }
  a:hover {
    color: #e50914;
    background: none;
  }
  .search-input {
    background-color: black;
    color: #e50914;
    border: 0px;
  }
  @media only screen and (max-width: 700px){
    .navbar-item {
      &.has-dropdown {
      .navbar-dropdown {
        display: none;
      }
      &.is-active {
        .navbar-dropdown {
          display: block;
        }
       }
     }
    }
  }
}

.navbar-dropdown{
  background-color: black;
}

.navbar-active {
  color: #bbf1c8;
}

body {
  overflow: hidden;
}

.section {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.iconfont {
  width: 2em;
  height: 2em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}

.breadcrumb:not(:last-child) {
  margin: 0.5rem 0;
  padding: 0 0.75em;
}

.breadcrumb ul {
  flex-wrap: inherit;
}

.breadcrumb li:not(:first-child):not(:last-child) {
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  width: 100%;
  table-layout: fixed;
  background-color: inherit;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  th,
  td {
    border: 0 !important;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      background-color: white;
      color: black;
    }

    &.icon {
      cursor: pointer;
    }
  }

  .td-item {
    color: white;
  }

  td span {
    vertical-align: middle;
  }

  td .g2-file-desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px){
  .table {
    border-top: none;
  }
}

.g2-content {
  margin-top: 1rem;
}

.footer {
  color: grey;
  font-size: 12px;
  background-color: transparent;
  text-align: center;
  a {
    color: #E50914;
  }
  a:hover {
    color: white;
  }
  .footpad {
    margin: 1px;
    padding: 1px;
  }
  .footimage{
    .gloryimage {
      margin: 2px;
      padding: 5px;
      border-radius: 1rem;
      border: 2px solid #E50914;
    }
  }
  .footer-license-link:hover {
    color: #bbf1c8;
  }
  .footer-copyright {
    color: white;
    font-weight: bold;
  }
  .footer-disclaimer {
    margin-bottom: 5px;
  }
  .disclaimer-head {
    font-weight: bold;
    font-size: 13px;
    color: #E50914;
  }
}

.no-content {
  background: url(https://i.ibb.co/bsqHW2w/Lamplight-Mobile.gif) no-repeat 50% 50%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  margin-top: 20px;
}

.video-content {
  width: 100%;
  background-color: black;
  position: relative;
  padding-bottom: 2%;

  video {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
  }
}

.audio-card {
  text-align: center;
  width: 100%;
  padding: 5%;
  background-color: black;
  border: 1px solid #E50914;
}

.audio-card:hover {
  border: 1px solid black;
}

//search bar
.search-input,
.search-input::-webkit-input-placeholder {
  color: #E50914;
  font-weight: bold;
}

.golist {
  min-height: 240px;
  position: relative;

  .el-loading-mask {
    z-index: initial;
    background-color: transparent;
  }

  .pageloader:not(.is-bottom-to-top) {
    -webkit-transform: initial;
    transform: initial;
  }

  .pageloader {
    position: absolute;
    padding-top: 0;
    background-color: hsla(0%, 0%, 15%, 0.2);
    will-change: initial;
    z-index: 1;

    .title {
      color: hsl(0, 0%, 4%);
    }
  }

  .pageloader::after {
    border: 0 solid black;
  }
}

.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
}

.sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
}

.descending .sort-caret.descending {
  border-top-color: #409eff;
}

.ascending .sort-caret.ascending {
  border-bottom-color: #409eff;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
}


// bulma-divider
.is-divider,
.is-divider-vertical {
  border-top: .2rem solid #E50914;
}

.is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
  color: black;
  background-color: #E50914;
}

.card-header-title {
  color: #E50914;
  background-color: black;
}

.card-content {
  background-color: black;
  color: #E50914;
  font-weight: bold;
}

.label {
  color: #E50914;
}

.download-link {
  border: 1px solid #E50914;
  background-color: black;
  color: #E50914;
}

.mkdown-text {
  color: white;
  margin:1rem 0;
  background-color: inherit;
  text-align:center;
  h1,h2,h3,h4,h5,h6,p,strong,em {
    color: white;
  }
  a {
    color: #E50914;
  }
  a:hover {
    color: white;
    background-color: transparent;
  }
}

.sr-only {
  background-color: transparent;
}

.navbar-item-image {
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
  font-size: 30px;
  font-weight:700;
  width: 40px;
}

#copy-url {
  padding: 10px;
  background-color: black;
  border: 1px solid #E50914;
  margin: 10px;
  color: #E50914;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

#copy-url:hover {
  border: 1px solid black;
  color: #E50914;
}

.top-buttons {
  display: inline-block;
}

.card {
  border: 1px solid #E50914;
  border-radius: 0.2rem;
}

.fontonly {
  font-size: 18px;
}

.card-header {
  border: 1px solid #E50914;
}

.download-button {
  padding: 10px;
  background-color: black;
  border: 1px solid #E50914;
  margin: 10px;
  color: #E50914;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

.download-button:hover {
  border: 1px solid black;
  color: #E50914;
}

.videocolumn,.audiocolumn {
  padding: 5px;
}

.videocolumn:hover,.audiocolumn:hover {
  border: 1px solid #E50914;
}

.home {
  color: white;
  h1,h2,h3,h4,h5,h6 {
    color: white;
  }
  p {
    color: white;
    font-family: monospace;
  }
  padding: 10px;
  margin: 20px;
  border: 2px solid #E50914;
  border-radius: 0.4rem;
}

.login-page {
  text-align: center;
  border: 2px solid #E50914;
  border-radius: 0.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 1px;
  font-family: monospace;
  .login-top-buttons {
    margin: 5px;
    background-color: transparent;
    color: #E50914;
    border: 1px solid #E50914;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #E50914;
  }
  p {
    text-overflow: clip;
  }
  label {
    color: white;
  }
  h4 {
    color: white;
  }
  input {
    margin: 5px;
    background-color: black;
    border: 1px solid #E50914;
    color: #E50914;
    font-family: monospace;
    font-size: 17px;
  }
  input:hover {
    background-color: black;
  }
  .login-button {
    background-color: #b6eb7a;
    color: #17706e;
    border: none;
    padding: 5px 10px 5px 10px;
  }
  .login-register {
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px 5px 10px;
  }
  .login-top-buttons {
    margin: 5px;
    background-color: transparent;
    color: #E50914;
    border: 1px solid #E50914;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #E50914;
  }
  .login-register:hover {
    color: #E50914;
  }
}

.registration-page {
  align-content: center;
  text-align: center;
  border: 2px solid #E50914;
  border-radius: 0.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 1px;
  font-family: monospace;
  .checkbox {
    text-align: center;
  }
  label {
    color: white;
  }
  h4 {
    color: white;
  }
  input,textarea {
    margin: 5px;
    background-color: black;
    border: 1px solid #E50914;
    color: #E50914;
    font-family: monospace;
    font-size: 18px;
  }
  input:hover,textarea:hover {
    background-color: black;
  }
  .guidelines {
    color: #E50914;
  }
  .guidelines:hover {
    color: red;
  }
  .registration-button {
    background-color: #fb7813;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
  }
  .registration-login {
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px 5px 10px;
  }
  .registration-top-buttons {
    margin: 5px;
    background-color: #ffe8df;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 0.5rem;
  }
  hr {
    background-color: #E50914;
  }
  .registration-login:hover {
    color: #E50914;
  }
}

.content-top {
  margin: 1px;
  font-family: monospace;
  text-align:center;
  .top-buttons {
    margin: 5px;
    background-color: #ffe8df;
    color: black;
    border: none;
    padding: 5px;
    border-radius: 0.5rem;
  }
  .top-buttons:hover {
    background-color: black;
    color:white;
    border: 1px solid #E50914;
  }
}

.adminarea {
  align-items: center;
  text-align: center;
  border: 2px solid #E50914;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  .userdetails {
    h3 {
      text-decoration: underline;
    }
    .settings-button {
      list-style: none;
      display: inline-block;
      background-color: #E50914;
      padding: 10px;
      margin: 10px;
      border-radius: 0.5rem;
      a {
        color: white;
      }
      a:hover {
        color: black;
      }
    }
    h3,p {
      color: white;
      .details {
        color: #E50914
      }
    }
  }
  .title {
    font-weight: bold;
    color: #E50914;
    padding: 5px;
    margin: 3px;
    vertical-align: center;
  }
  hr {
    border: 1px solid #E50914;
  }
  .scopes {
    h3 {
      color: white;
      text-decoration: underline;
    }
    color: white;
    .scope-list {
      list-style: none;
      display: inline-block;
      background-color: #E50914;
      padding: 10px;
      margin: 10px;
      border-radius: 0.5rem;
      a {
        color: white;
      }
      a:hover {
        color: white;
      }
    }
    .scope-list:hover {
      background-color: black;
      color: white;
    }
  }
}

.navigation-buttons {
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-family: monospace;
  .but-pad {
    margin: 3px;
  }
}

.pendingusers {
  .getuserbutton {
    color: #E50914;
    background-color: black;
    padding: 5px;
    border-radius: 0.5rem;
    border: 2px solid #E50914;
  }
  .getuserbutton:hover {
    background-color: #E50914;
    color: white;
  }
  p {
    padding: 2px;
    margin: 2px;
  }
  .pendinghead {
    color: #E50914;
    margin: 5px;
  }
  .column-head {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin: 10px;
    padding: 4px;
  }
  .col-data {
    color: #E50914;
    margin: 10px;
    padding: 4px;
  }
  @media only screen and (max-width: 600px){
    .col-data {
      display: flex;
      text-align: center;
    }
  }
}

.special-image {
    width: 50%;
    text-align: center;
}

.special-image:hover {
  cursor: pointer;
}

.suggestList {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.nopad {
  padding: 0;
  margin: 0;
}

.home-navbar {
  background: transparent;
  border: none;
  .title {
    color: #E50914;
  }
  .button {
    color: white;
    border: none;
    background-color: #E50914;
  }
  .button:hover {
    opacity: 0.6;
    background-color: #e50914;
    color: white;
  }
}

.is-netflix-red {
  color: white;
  background-color: #e50914;
  border: none;
  &:hover {
    opacity: 0.6;
    background-color: #e50914;
    color: white;
  }
  &:disabled {
    opacity: 0.6;
    background-color: #e50914;
    color: white;
  }
}

.has-text-netflix {
  color: #e50914;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &:disabled {
    opacity: 0.6;
  }
}

.has-text-netflix-only {
  color: #e50914;
  border: none;
}

th {
  color: white;
  &:hover {
    color: black;
  }
}

.special-email {
  font-size: 24px;
  border-radius: none;
}

@media only screen and (max-width: 700px){
  .special-email {
    font-size: 16px;
  }
}

.just {
  background: transparent 0.1;
}

.nav-link {
  cursor: pointer;
}

.icon-link {
  cursor: pointer;
}

.homehero {
  background-size:cover;
  min-width:100%;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.navbar-item:hover {
  background: transparent;
  color: red;
}

.trending-block {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  .trend-link {
    display: inline-block;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 175px;
    padding: 14px;
    margin: 3px;
  }
  .trend-link:hover {
    box-shadow: 0 4px 8px 0 rgba(229, 9, 20, 0.2), 0 6px 20px 0 rgba(229, 9, 20, 0.19);
  }
}

.category-block {
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  .cat-link {
    display: inline-block;
    width: 250px;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    height: 175px;
    padding: 14px;
    margin: 3px;
  }
  .cat-link:hover {
    box-shadow: 0 4px 8px 0 rgba(229, 9, 20, 0.2), 0 6px 20px 0 rgba(229, 9, 20, 0.19);
  }
}

.playbuttons, .playbuttons:visited,  {
  border: none;
  background: transparent;
  color: #e50914;
}

.playbuttons:hover {
  border-radius: 0.4rem;
  background-color: #e50914;
  color: white;
}

.forgot-pass:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

.audioplayer {
  --plyr-color-main: #e50914;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  &.info {
    $color: rgba(#004499, .9);
    .tooltip-inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }
    .tooltip-arrow {
      border-color: $color;
    }
  }
  &.popover {
    $color: #f9f9f9;
    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }
    .popover-arrow {
      border-color: $color;
    }
  }
}

input:focus {
  border: 1px solid grey;
}

.searchbar-input {
  background-color: black;
  border: 1px solid #e50914;
  color:#e50914;
  &::placeholder {
    color: #e50914;
    font-weight: bold;
  }
  &:focus {
    border: 1px solid #e50914;
  }
  &:hover {
    border: 1px solid #e50914;
  }
}

.slide-fade-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
