@font-face {
  font-family: 'iconfont';  /* project id 1760192 */
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot');
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.svg#iconfont') format('svg');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #342b38;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9595;
  border-radius: 10px;
}

html {
  background-color: #342b38;
}

.navbar {
  background-color: #342b38;
  border-bottom: 3px solid #ff9595;
}

.navbar-dropdown{
  background-color: #342b38;
}

.navbar-link,.navbar-item {
  color: #ff9595;
}

.navbar-active {
  color: #bbf1c8;
}

.navbar-item:hover {
  color: #ff9595;
}

.search-input {
  background-color: #ff9595;
  border-color: #272727;
}

body {
  overflow: hidden;
}

.section {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.container {
  max-width: 980px;
}

.iconfont {
  width: 2em;
  height: 2em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}

.breadcrumb:not(:last-child) {
  margin: 0.5rem 0;
  padding: 0 0.75em;
}

.breadcrumb ul {
  flex-wrap: inherit;
}

.breadcrumb li:not(:first-child):not(:last-child) {
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  width: 100%;
  table-layout: fixed;
  background-color: #342b38;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  th,
  td {
    border: 0 !important;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      background-color: white;
      color: black;
    }

    &.icon {
      cursor: pointer;
    }
  }

  .td-item {
    color: white;
  }

  td span {
    vertical-align: middle;
  }

  td .g2-file-desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px){
  .table {
    border-top: none;
  }
}

.g2-content {
  margin-top: 1rem;
}

.footer {
  background-color: transparent;
}

.no-content {
  background: url(https://i.ibb.co/zJD1PhY/Porumayagairukkavum.png) no-repeat 50% 50%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  margin-top: 20px;
}

.video-content {
  width: 100%;
  border: 1px solid #ff9595;
  background-color: #342b38;
  position: relative;
  padding-bottom: 52%;
  height: 0;
  top: 0;
  left: 0;
}

.video-content:hover {
  border: 1px solid #342b38;
}

.audio-card {
  text-align: center;
  width: 100%;
  padding: 5%;
  background-color: #342b38;
  border: 1px solid #ff9595;
}

.audio-card:hover {
  border: 1px solid #342b38;
}

//search bar
.search-input,
.search-input::-webkit-input-placeholder {
  color: #342b38;
}

.golist {
  min-height: 240px;
  position: relative;

  .el-loading-mask {
    z-index: initial;
    background-color: transparent;
  }

  .pageloader:not(.is-bottom-to-top) {
    -webkit-transform: initial;
    transform: initial;
  }

  .pageloader {
    position: absolute;
    padding-top: 0;
    background-color: hsla(0%, 0%, 15%, 0.2);
    will-change: initial;
    z-index: 1;

    .title {
      color: hsl(0, 0%, 4%);
    }
  }

  .pageloader::after {
    border: 0 solid black;
  }
}

.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
}

.sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
}

.descending .sort-caret.descending {
  border-top-color: #409eff;
}

.ascending .sort-caret.ascending {
  border-bottom-color: #409eff;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
}


// bulma-divider
.is-divider,
.is-divider-vertical {
  border-top: .2rem solid #ff9595;
}

.is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
  color: #342b38;
  background-color: #ff9595;
}

.icon-tag,.icon-tag-license {
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
  padding-bottom: 10px;
}

.icon-tag, {
  color: #ff9595;
}

.icon-tag:hover {
  color: #ff9595;
}

.icon-tag-license,.footer-license-link {
  color: #bbf1c8;
}

.footer-license-link:hover {
  color: #bbf1c8;
}

.footer-copyright {
  color: #ff9595;;
  font-weight: 900;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-disclaimer {
  color: whitesmoke;
  font-weight: bold;
  padding: 10px
}

.disclaimer-head {
  font-weight: bolder;
  color: #ff9595;
}

.footer-policy {
  color: #bbf1c8;
  font-weight: bold;
  padding: 10px;
}

.card-header-title {
  color: #ff9595;
  background-color: #342b38;
}

.card-content {
  background-color: #342b38;
  color: #ff9595;
  font-weight: bold;
}

.label {
  color: #ff9595;
}

.download-link {
  border: 1px solid #ff9595;
  background-color: #342b38;
  color: #ff9595;
}

.mkdown-text {
  color: white;
}

.sr-only {
  background-color: transparent;
}

.navbar-item-image {
  text-align: center;
  padding-top: 10px;
  border-radius: 100%;
  font-size: 30px;
  font-weight:700;
  width: 40px;
}

#copy-url {
  padding: 10px;
  background-color: #342b38;
  border: 1px solid #ff9595;
  margin: 10px;
  color: #FF9595;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

#copy-url:hover {
  border: 1px solid #342b38;
  color: #ff9595;
}

.card {
  border: 1px solid #ff9595;
  border-radius: 0.2rem;
}

.card-header {
  border: 1px solid #ff9595;
}

.download-button {
  padding: 10px;
  background-color: #342b38;
  border: 1px solid #ff9595;
  margin: 10px;
  color: #FF9595;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.5rem;
}

.download-button:hover {
  border: 1px solid #342b38;
  color: #ff9595;
}

.column {
  padding: 5px;
}

.column:hover {
  border: 1px solid #ff9595;
}
