@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$family-sans-serif: 'Open Sans', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: true;
$link: #851de0;
$accent: #851de0;

$grad-start: #121212;
$grad-midone: #241f44;
$grad-midtwo: #392778;
$grad-midthree: #5a2aad;
$grad-final: #851de0;

$button-text: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$table-row-hover-background-color: #e6d1f8;

@import 'bulma';
@import 'bulma-divider';
@import 'cool-checkboxes-for-bulma.io';
@import '~@/styles/base.scss';
@import 'vue2-animate/src/sass/vue2-animate.scss';
@import 'vue-select/src/scss/vue-select.scss';
@import 'bulma-extensions/bulma-switch/src/sass/index.sass';
